{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "linebreak-style": ["error", "unix"]
  },
  "parser": "@typescript-eslint/parser"
}
